// @mobile: ~"(max-width: 500px)" {

    @media only screen and (max-width: 500px) {
header {
    width: 500px;
    display: flex;
    flex-flow: column;
    height: 100%;
    padding-bottom:1em;
    padding-top: 2em;

        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        // h2 {
        //     width: 500px;
        //     // display:flex;
        //     // flex-direction: row;
        //     padding-left: 5em;
        //     justify-content: center;
        // }
    li {
        margin: 10px;
        width: 100px;
        }

    nav {
        width: 500px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-right: 300px;
        font-size: 2em;
    }
}


.welcome {
    padding: 1em;
    margin: 1em;
}

.home {
    .content-section {
        width: auto;
        margin: 20px;

        .text-content {
            width:100%;
        }

        .img-content {
            width: auto;
            margin-left: 2em;
        }

    }

    .content-destination {
        width: 90%;
        margin: 2em;

        img {
            width: auto;
            margin-left: 1.5em;
        }
    }

    .content-pick {
        width: 100%;
        padding: 2em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    
        .destination {
            width: 100%;
            

            .btn {
                padding: 10px 40px;
                margin-left: 2em;
                display: flex;
                justify-content: center;
               
            }
        }   
    }
    

}
}   
    