// @mobile: ~"(max-width: 500px)" {

    @media only screen and (max-width: 500px) {
header {
    display: flex;
    width: 500px;
}

.welcome {
    padding: 1em;
    margin: 1em;
}

.home {
    .content-section {
        width: auto;
        margin: 20px;

        .text-content {
            width:100%;
        }

        .img-content {
            width: auto;
            margin-left: 2em;
        }

    }

    .content-destination {
        width: 90%;
        margin: 2em;

        img {
            width: auto;
            margin-left: 1.5em;
        }
    }

    .content-pick {
        width: 100%;
        padding: 2em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    
        .destination {
            width: 100%;
            

            .btn {
                padding: 10px 40px;
                margin-left: 2em;
               
            }
        }   
    }
    

}
}   
    